{{ "<!-- Subscribe Modals -->" | safeHTML }}
<div class="portfolio-modal modal fade" id="subscription-{{ .planIdRoot }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <div>{{ .name }} Beta</div>
                        <form action="https://sxgfj6r7rb.execute-api.us-west-2.amazonaws.com/prod/subscriptions" method="post">
                          <input type="text" name="planIdRoot" value="{{ .planIdRoot }}" hidden="true"></input>
                          <input type="text" name="company">Company</input>
                          <input type="checkbox" required>Agree to all terms and conditions</input>
                          <input type="checkbox" required>Agree to recurring payments</input>

                          <input type="radio" name="planFrequency" checked="checked" value="yearly"/>Yearly {{ .yearlyPrice }}
                          <input type="radio" name="planFrequency" value="monthly"/>Monthly {{ .monthlyPrice }}
                          <div>Access credentials will be sent to you within 24 hours of payment processing</div>
                          <div id="yearlyPayButton" hidden="true">
                            <script
                              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="pk_live_YexY7m4B9GZY6mUTo4ieciCe"
                              data-amount="{{ .yearlyPrice }}"
                              data-name="3DSIM LLC"
                              data-description="{{ .name }} Yearly Subscription"
                              data-image=""
                              data-locale="auto"
                              data-label="Pay Yearly">

                            </script>
                          </div>
                          <div id="monthlyPayButton" hidden="true">
                            <script
                              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="pk_live_YexY7m4B9GZY6mUTo4ieciCe"
                              data-amount="{{ .monthlyPrice }}"
                              data-name="3DSIM LLC"
                              data-description="{{ .name }} Monthly Subscription"
                              data-image=""
                              data-locale="auto"
                              data-label="Pay Monthly">
                            </script>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
