{{ "<!-- Subscribe Modals -->" | safeHTML }}
<div class="portfolio-modal modal fade" id="subscription-{{ .planIdRoot }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="modal-body col-lg-12 subscription-modal">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <h3>{{ .name }} Beta</h3>
              <form action="https://sxgfj6r7rb.execute-api.us-west-2.amazonaws.com/dev/subscriptions" method="post">
                <input type="text" name="planIdRoot" value="{{ .planIdRoot }}" hidden="true"></input>
                <input type="text" name="monthlyPrice" value="{{ .monthlyPrice }}" hidden="true"></input>
                <input type="text" name="yearlyPrice" value="{{ .yearlyPrice }}" hidden="true"></input>
                <input type="hidden" name="stripeToken"/>
                <input type="hidden" name="stripeEmail"/>
                <div class="form-group">
                  <label>Company</label>
                  <input type="text" class="form-control" placeholder="Company Name" name="company"></input>
                </div>
                <div class="form-group">
                  <label>Name <small>(Administrator)</small></label>
                  <input type="text" class="form-control" placeholder="Name" name="name"></input>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Email" name="email"></input>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="planFrequency" value="yearly"/>Yearly ${{substr .yearlyPrice 0 -2}}
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="planFrequency" value="monthly"/>Monthly ${{substr .monthlyPrice 0 -2}}
                  </label>
                </div>
                <object style="height:600px;width:100%;" data="/corporate-site/pdf/terms-and-conditions.pdf"></object>
                <div class="radio">
                  <label>
                    <input type="radio" name="terms" value="accept"/>I accept
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="terms" value="decline" data-dismiss="modal"/>I decline
                  </label>
                </div>
                <button type="button" hidden="true">Pay with card</button>

                <div>Access credentials will be sent to you within 24 hours of payment processing.</div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
